<div class="d-flex flex-column align-items-center h-100 text-center">
  <form class="form-signin shadow-sm bg-white mt-4 rounded" [formGroup]="loginForm" (ngSubmit)="login()">
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    <div class="alert alert-danger" *ngIf="errorText">
      {{errorText}}
    </div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus
      formControlName="username"
      [ngClass]="{'is-invalid': (loginForm?.controls['email']?.touched && loginForm.controls['email'].errors)}">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
      formControlName="password"
      [ngClass]="{'is-invalid': (loginForm?.controls['password']?.touched && loginForm.controls['password'].errors)}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">Not a member? Contact Advisor _________</p>
  </form>
</div>