.dates{
    min-width: 300px;
    min-height: 150px;
}
.lunch{
    width: 130px;
}
.calendar{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#form{
    max-width:68%;
    margin-left: 16%;
    margin-right: 16%;
}
#weekButtons{
    //max-width:68%;
    margin-left: 16%;
    margin-right: 16%;
}

mat-subtitle{
    color: black;
}