<br>
<div id="weekButtons" class="row justify-content-between">
  <button id="current" type="button" [disabled]="curWeek" class="btn btn-primary" (click)="toggle()">Current Week</button>
  <button id="next" type="button" [disabled]="nextWeek" class="btn btn-primary" (click)="toggle()">Next Week</button>
</div>
<div class="row justify-content-center">
  <mat-card class="dates calendar">
    <mat-card-header>
      <mat-card-title><h3>Tuesday</h3></mat-card-title>
      <mat-card-subtitle>Date</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row" id="">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041619/1/1" (click)="onSelected(1)">A Lunch <span class="badge badge-light">slots</span></button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041619/2/2" (click)="onSelected(2)">B Lunch <span class="badge badge-light">slots</span></button>    
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="dates calendar">
    <mat-card-header>
      <mat-card-title><h3>Wednesday</h3></mat-card-title>
      <mat-card-subtitle>Date</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041719/1/1" (click)="onSelected(3)">A Lunch <span class="badge badge-light">slots</span></button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041719/2/2" (click)="onSelected(4)">B Lunch <span class="badge badge-light">slots</span></button>    
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="justify-content-center">
  <mat-card id="form">
    <mat-card-header>
      <mat-card-title *ngIf="selected"><h3> {{apptSelc.day}}, {{apptSelc.date}} during {{apptSelc.lunch}} </h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input ngModel name="firstname" nametype="text" class="form-control" id="firstname" placeholder="Enter First Name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input ngModel name="lastname" type="text" class="form-control" id="lastname" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
          <label for="grade">Grade</label>
          <select ngModel name="grade" class="custom-select" id="grade">
            <option selected>Open this select menu</option>
            <option value="9th">9th</option>
            <option value="10th">10th</option>
            <option value="11th">11th</option>
            <option value="12th">12th</option>
          </select>
        </div>
        <div class="form-group">
          <label for="topic">Topic of Assignment</label>
          <input ngModel name="topic" type="text" class="form-control" id="topic" placeholder="Enter Topic">
        </div>
        <button type="submit" class="btn btn-primary">Sign-up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<br>

