<br>
<div id="weekButtons" class="row justify-content-between">
  <button id="current" type="button" [disabled]="curWeek" class="btn btn-primary" (click)="onClickCurrent()">Current Week</button>
  <button id="next" type="button" [disabled]="nextWeek" class="btn btn-primary" (click)="onClickNext()">Next Week</button>
</div>
<div class="row justify-content-center">
  <mat-card class="dates calendar">
    <mat-card-header>
      <mat-card-title>
        <h3>Tuesday</h3>
      </mat-card-title>
      <mat-card-title>
        <h5>{{dateT}}</h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngIf="keyWordBTNorm">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" (click)="onSelected(1)">A Lunch 
            <span class="badge badge-light">{{slotsT[0]}}</span>
          </button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" (click)="onSelected(2)">B Lunch 
            <span class="badge badge-light">{{slotsT[1]}}</span>
          </button>    
        </div>
      </div>
      <div class="row" *ngIf="keyWordBT">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [disabled]="true">{{keyWordT}}</button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [disabled]="true">{{keyWordT}}</button>    
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="dates calendar">
    <mat-card-header>
      <mat-card-title><h3>Wednesday</h3></mat-card-title>
      <mat-card-title><h5>{{dateW}}</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngIf="keyWordBWNorm">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" (click)="onSelected(3)">A Lunch 
            <span class="badge badge-light">{{slotsW[0]}}</span>
          </button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" (click)="onSelected(4)">B Lunch 
            <span class="badge badge-light">{{slotsW[1]}}</span>
          </button>    
        </div>
      </div>
      <div class="row" *ngIf="keyWordBW">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [disabled]="true">{{keyWordW}}</button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [disabled]="true">{{keyWordW}}</button>    
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="justify-content-center">
  <mat-card id="form">
    <mat-card-header>
      <mat-card-title *ngIf="selected">
        <h3> {{apptSelc.day}}, {{apptSelc.date}} during {{apptSelc.lunch}} Lunch </h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input ngModel name="firstName" nametype="text" class="form-control" id="firstName"
            placeholder="Enter First Name" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input ngModel name="lastName" type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
            required>
        </div>
        <div class="form-group">
          <label for="grade">Grade</label>
          <select ngModel name="grade" class="custom-select" id="grade" required>
            <option selected>Open this select menu</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="form-group">
          <label for="topic">Topic of Assignment</label>
          <input ngModel name="topic" type="text" class="form-control" id="topic" placeholder="Enter Topic" required>
        </div>
        <div class="form-group">
          <label for="teacher">Teacher</label>
          <input ngModel name="teacher" type="text" class="form-control" id="teacher" placeholder="Enter Teacher"
            required>
        </div>
        <button type="submit" class="btn btn-primary">Sign-up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<br>
<!-- <div *ngIf="submitted">
  <h3> Your Data </h3>
  <p> Firstname: {{ data.firstName }} </p>
  <p> Lastname: {{ data.lastName }} </p>
  <p> Grade: {{ data.grade }} </p>
  <p> Topic: {{ data.topic }} </p>
</div> -->