<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div><a routerLink="/"><img  alt="WC logo" /></a></div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Sign-ups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Resources and Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><button class="btn btn-outline-primary my-2 my-sm-0">Login in</button></a>
      </li>
    </ul>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="" alt=""><h3>Logo</h3>
  <h3>Company Name</h3>
  <div class="collapse navbar-collapse">
    <div class="input-group mb-3" id="k">
        <input class="form-control mr-sm-2" type="search">
        <div class="input-group-append">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
  </div>
    <div class="float-right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Recommendations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Custom Vinyls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Contact Us</a>
        </li>
        <mat-divider [vertical]="true" class="bg-light"></mat-divider>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Register</a>
        </li>
        <button id="s"class="btn btn-outline-primary" type="button" routerLink="">Sign-in</button>
        <mat-divider [vertical]="true"></mat-divider>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Cart</a>
        </li>
      </ul>
    </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="bottom">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item sec cat">
        <a class="nav-link" routerLink="/">Category 1</a>
      </li>
      <li class="nav-item sec cat">
        <a class="nav-link" routerLink="/">Category 2</a>
      </li>
      <li class="nav-item sec cat">
        <a class="nav-link" routerLink="/">Category 3</a>
      </li>
      <li class="nav-item sec cat">
        <a class="nav-link" routerLink="">Category 4</a>
      </li>
      <li class="nav-item sec cat">
        <a class="nav-link" routerLink="">Category 5</a>
      </li>
      <li class="nav-item sec cat">
        <a class="nav-link" routerLink="">Category 6</a>
      </li>
      <mat-divider [vertical]="true"></mat-divider>
      <li class="nav-item sec type">
        <a class="nav-link" routerLink="">Type 1</a>
      </li>
      <li class="nav-item sec type">
        <a class="nav-link" routerLink="">Type 2</a>
      </li>
      <li class="nav-item sec type">
        <a class="nav-link" routerLink="">Type 3</a>
      </li>
    </ul>      
  </div>
</nav>

