#k{
    width: 450px;
}
h3{
    margin-left: 20px;
    margin-right: 20px;
}
img{
    margin-left:100px;
}
.sec{
    margin-left:5%;
    margin-right:5%;
}

.type a{
    width:65px;
}
.cat a{
    width:93px;
}
#s{
  //  margin-left: 10px;
    margin-right: 10px;
}
