<br>
<h3>{{week}}</h3>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary">Tuesday A Lunch <span class="badge badge-light">{{slots1[0]}}</span></button>
  <button type="button" class="btn btn-primary">Tuesday B Lunch <span class="badge badge-light">{{slots1[1]}}</span></button>
  <button type="button" class="btn btn-primary">Wendesday A Lunch <span class="badge badge-light">{{slots1[2]}}</span></button>
  <button type="button" class="btn btn-primary">Wendesday B Lunch <span class="badge badge-light">{{slots1[3]}}</span></button>
</div>
<br>
<h3>{{weekN}}</h3>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary">Tuesday A Lunch <span class="badge badge-light">{{slots2[0]}}</span></button>
  <button type="button" class="btn btn-primary">Tuesday B Lunch <span class="badge badge-light">{{slots2[1]}}</span></button>
  <button type="button" class="btn btn-primary">Wendesday A Lunch <span class="badge badge-light">{{slots2[2]}}</span></button>
  <button type="button" class="btn btn-primary">Wendesday B Lunch <span class="badge badge-light">{{slots2[3]}}</span></button>
</div>
