<br>
<div class="row justify-content-center">
  <mat-card id="tues">
    <mat-card-header>
      <mat-card-title><h3>Tuesday</h3></mat-card-title>
      <mat-card-subtitle>Date</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row" id="">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041619/1/1">A Lunch <span class="badge badge-light">slots</span></button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041619/2/2">B Lunch <span class="badge badge-light">slots</span></button>    
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card id="tues">
    <mat-card-header>
      <mat-card-title><h3>Wendesday</h3></mat-card-title>
      <mat-card-subtitle>Date</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041719/1/1">A Lunch <span class="badge badge-light">slots</span></button>
        </div>
        <mat-divider [vertical]=true></mat-divider>
        <div class="col">
          <button type="button" class="btn btn-primary lunch" [routerLink]="041719/2/2">B Lunch <span class="badge badge-light">slots</span></button>    
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
