<br>
<h3>Assignments</h3>

<table mat-table [dataSource]="data" class="mat-elevation-z8" width="100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let consultant"> {{consultant.first}} {{consultant.last}}</td>
  </ng-container>
  
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let consultant"> {{consultant.email}} </td>
  </ng-container>

  <ng-container matColumnDef="file">
    <th mat-header-cell *matHeaderCellDef> File </th>
    <td mat-cell *matCellDef="let consultant"> {{consultant.file}} </td>
  </ng-container>

  <ng-container matColumnDef="review">
      <th mat-header-cell *matHeaderCellDef> Write Review </th>
      <td mat-cell *matCellDef="let consultant">
        <button id="edit" mat-button color="primary" [routerLink]="entry">Write Review</button>
      </td>
    </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
