
<br>
<h3>Consultant Reviews</h3>
<div>
<table mat-table [dataSource]="reviews" class="mat-elevation-z8" width="100%">

  <ng-container matColumnDef="Action" >
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let reviews" id="actions"> 
      <button id="check" mat-icon-button color="primary">
        <mat-icon>check</mat-icon> 
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Consultant </th>
    <td mat-cell *matCellDef="let reviews"> {{ reviews.firstName}} {{reviews.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="Student">
    <th mat-header-cell *matHeaderCellDef> Student </th>
    <td mat-cell *matCellDef="let reviews"> {{reviews.firstNameS}} {{reviews.lastNameS}}  </td>
  </ng-container>

  <ng-container matColumnDef="Topic">
    <th mat-header-cell *matHeaderCellDef> Topic </th>
    <td mat-cell *matCellDef="let reviews"> {{reviews.topic}} </td>
  </ng-container>

  <ng-container matColumnDef="Teacher">
    <th mat-header-cell *matHeaderCellDef> Teacher </th>
    <td mat-cell *matCellDef="let reviews"> {{reviews.teacher}}  </td>
  </ng-container>

  <ng-container matColumnDef="Review">
    <th mat-header-cell *matHeaderCellDef> Review </th>
    <td mat-cell *matCellDef="let reviews" id="review"> {{reviews.review}}  </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumnsR"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsR;"></tr>
</table>

<!-- Manipulating Consultants -->
<br>
<h3>Consultant</h3>
<div *ngIf="edit">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="new" class="form-inline" id="editForm">
    <button id="save" mat-icon-button color="primary" type="submit"> 
      <mat-icon>done</mat-icon>
    </button>
    <button id="cancel" mat-icon-button color="warn" (click)="toggleEdit()">
      <mat-icon>clear</mat-icon>
    </button>
    <div class="form-group">
      <input id="firstName" type="text" class="form-control mb-2 mr-sm-2" name="firstName" placeholder="Enter First Name" ngModel>
    </div>              
    <div class="form-group">
      <input id="lastName" type="text" class="form-control mb-2 mr-sm-2" name="lastName" placeholder="Enter Last Name" ngModel>
    </div>	
      
    <div class="form-group">
      <input id="grade" type="text" class="form-control mb-2 mr-sm-2" name="grade" placeholder="Enter Grade" ngModel>
    </div>
              
    <div class="form-group">
      <input id="emailC" type="email" class="form-control mb-2 mr-sm-2" name="emailC" placeholder="Enter Email" ngModel>
    </div>
    
    <div class="form-group">
      <input id="emailSec" type="email" class="form-control mb-2 mr-sm-2" name="emailSec" placeholder="Enter Second Email" ngModel>
    </div>
    
    </form>
</div>
<!-- Show list of consultant. Add and delete buttons on top. -->
<button mat-raised-button (click)="add()" color="primary"> Add New</button><br>
<div *ngIf="new">
  <br>
</div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="new" class="form-inline" id="addForm">
  <div class="form-group">
    <input id="firstName" type="text" class="form-control mb-2 mr-sm-2" name="firstName" placeholder="Enter First Name" ngModel>
  </div>
          
  <div class="form-group">
    <input id="lastName" type="text" class="form-control mb-2 mr-sm-2" name="lastName" placeholder="Enter Last Name" ngModel>
  </div>	
  
  <div class="form-group">
    <input id="grade" type="text" class="form-control mb-2 mr-sm-2" name="grade" placeholder="Enter Grade" ngModel>
  </div>
          
  <div class="form-group">
    <input id="emailC" type="email" class="form-control mb-2 mr-sm-2" name="emailC" placeholder="Enter Email" ngModel>
  </div>

  <div class="form-group">
    <input id="emailSec" type="email" class="form-control mb-2 mr-sm-2" name="emailSec" placeholder="Enter Second Email" ngModel>
  </div>

  <div class="form-group">
    <button id="sumbit" type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>
<br>
<div class="styles mat-elevation-z8" *ngIf="norm">
<table mat-table [dataSource]="consultants" >  
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let consultants; let i = index" id="actions"> 
      <button id="edit" mat-icon-button color="primary" (click)="onUpdate(i)">
        <mat-icon>edit</mat-icon>
      </button>
      <button id="delete" mat-icon-button color="warn" (click)="delete(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let consultants"> {{consultants.firstName}} {{consultants.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="Grade">
    <th mat-header-cell *matHeaderCellDef> Grade </th>
    <td mat-cell *matCellDef="let consultants"> {{consultants.grade}} </td>
  </ng-container>

  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let consultants"> {{consultants.email}} </td>
  </ng-container>

  <ng-container matColumnDef="Email Second">
    <th mat-header-cell *matHeaderCellDef> Secondary Email </th>
    <td mat-cell *matCellDef="let consultants"> {{consultants.emailSec}} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumnsC"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsC;"></tr>
</table>
</div>
<br>