
#actions{
    width:12%;
}
#review{
    width: 40%;
}

#reserve{
    margin-right:10px;
}

.styles {
    max-height: 400px;
    overflow: auto;
  }

table{
    width: 100%;
}

#far{
    margin-left: 30px;
}