<br>
<!-- card portion isn't working -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Consultant Review</mat-card-title>
    <mat-card-subtitle>Enter information down below:</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Consultant First Name: </label>
            <input NgModel id="firstName" type="text" class="form-control" name="firstName" placeholder="First Name" ngModel>
          </div>
              
          <div class="form-group">
            <label >Consultant Last Name: </label>
            <input NgModel id="lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" ngModel>
          </div>		
              
          <div class="form-group">
            <label>Consultant Email:</label> 
            <input NgModel id="emailC" type="email" class="form-control" name="emailC" placeholder="Email" ngModel>
          </div>

          <div class="form-group">
            <label>Where the student was successful: </label>
            <textarea NgModel class="form-control" id="feedbackc1" rows="3" name="feedbackc1" ngModel></textarea>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Student First Name: </label>
            <input NgModel id="firstNameS" type="text" class="form-control" name="firstNameS" placeholder="First Name" ngModel>
          </div>		
        
          <div class="form-group">
            <label>Student Last Name: </label>
            <input NgModel id="lastNameS" type="text" class="form-control" name="lastNameS" placeholder="Last Name" ngModel>
          </div>		
        
          <div class="form-group">
            <label>Student’s Teacher: </label>
            <input NgModel id="lastNameS" type=”text” class="form-control" name="teacher" placeholder="Teacher" ngModel>
          </div>

          <div class="form-group">
              <label>What the student could improve upon: </label>
              <textarea NgModel class="form-control" id="feedbackc2" rows="3" name="feedbackc2" ngModel></textarea>
            </div>
        </div>
      </div>					

      <label >Upload File (If necessary)</label><br>
      <div class="custom-file" id="upload">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile" name="file">Choose file</label>
      </div>
      <br><br>
      <div class="form-group">
        <button id="sumbit" type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  </mat-card-content>
</mat-card>
<br>

<div *ngIf="submitted">
  <h3> Your Data </h3>
  <p> Consultant First Name: {{ info.firstName }} </p>
  <p> Consultant Last Name: {{ info.lastName }} </p>
  <p> Student First Name: {{ info.firstNameS }} </p>
  <p> Student Last Name: {{ info.lastNameS }} </p>
  <p> Teacher: {{ info.teacher }} </p>
  <p> Consultant Email: {{ info.emailC }} </p>
  <p> Feedback 1: {{ info.feedback1 }} </p>
  <p> Feedback 2: {{ info.feedback2 }} </p>
  </div>